html,
body {
  font: 'Roboto';
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

a {
  color: #212529;
  text-decoration: underline;
}

.tall img {
  margin: 0 auto;
  display: block;
  max-width: 50%;
}

.mobile {
  display: none;
}

.colored_text {
  color: #865b9d;
}

.title {
  text-align: center !important;
  justify-content: center;
  position: relative;
  margin-bottom: auto;
  color: #333333;
  font-size: 40px;
  font-weight: bold;
}

.byline {
  text-align: center !important;
  justify-content: center;
  position: relative;
  margin-bottom: auto;
  color: #333333;
  font-size: 16px;
}

.first-letter {
  font-size: 55px;
  line-height: 55px;
  float: left;
}

.caption {
  font-size: 11px;
}


.hidden {
  visibility: hidden;
}

.footer_container {
  position: absolute;
  display: flex;
  justify-content: center;
  margin-right: 44%;
  margin-left: 44%;
}

/* When it's less than 500 pixels wide */

@media only screen and (max-width: 700px) and (min-width: 510px) {

  .mobile {
    display: none;
  }
  
}

/* When it's less than 500 pixels wide */

@media only screen and (max-width: 500px) and (min-width: 300px) {

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .title {
    text-align: center !important;
    justify-content: center;
    position: relative;
    margin-bottom: auto;
    color: #333333;
    font-size: 20px;
    font-weight: bold;
  }

  .byline {
    text-align: center !important;
    justify-content: center;
    position:relative;
    color: #333333;
    font-size: 16px;
    background: #ffffff
  }

  .first-letter {
    font-size: 50px;
    line-height: 40px;
    float: left;
    text-indent: 0;
  }

  .tall-mobile {
    position: relative;
    display: block;
    margin: 0 auto;
  }
  
  .tall {
    display: none;
  }
  
  .tall-mobile img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
  }

  .footer_container {
    position: absolute;
    display: flex;
    justify-content: center;
    margin-right: 25%;
    margin-left: 25%;
  }

  html, body {
    overflow-x: hidden;
  }
}
